<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<property name="pattern" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level [%thread] %c [%L] - %msg%n" />
	<property name="filePath" value="/u01/casedata/logs/casedata.log" />

	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${pattern}</pattern>
			</encoder>
		</appender>

		<root level="debug">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="test">
		<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${filePath}</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${filePath}/casedata.%d{yyyy-MM-dd}.log</fileNamePattern>
				<MaxHistory>30</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${pattern}</pattern>
			</layout>
		</appender>

		<root level="info">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${filePath}</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${filePath}/casedata.%d{yyyy-MM-dd}.log</fileNamePattern>
				<MaxHistory>30</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${pattern}</pattern>
			</layout>
		</appender>

		<root level="info">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
</configuration>